{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "@typescript-eslint/recommended"
    ],
    "rules": {
        // Add TypeScript-specific rules here
    }
}