<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Status Page</title>
  <script src="/js/htmx.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
  <style>
    .healthy {
      background-color: green;
      color: white;
    }

    .unhealthy {
      background-color: rgba(255, 0, 0, 0.5);
      color: white;
    }

    .starting {
      background-color: gray;
      color: white;
    }

    .unknown {
      background-color: blue;
      color: white;
    }

    .healthyTxt {
      color: green;
    }

    .unhealthyTxt {
      color: rgba(255, 0, 0, 0.5);
    }

    .startingTxt {
      color: gray;
    }

    .unknownTxt {
      color: blue;
    }

    .htmx-indicator {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>

</head>

<body class="container">
  <nav style="display: flex; align-items: center;">
    <ul>
      <li>
        <h1>
          MilinBhakta
        </h1>
      </li>
    </ul>
  </nav>
  <main id="app">
    <section>
      <h3>Containers</h3>
      <div id="containers" hx-get="/containers" hx-trigger="load, every 5s">
        <div id="loading" aria-busy="true" class="htmx-indicator">
        </div>
      </div>
    </section>
    <section>
      <h3>Websites</h3>
      <div id="websites" hx-get="/websites" hx-trigger="load, every 5s">
        <div id="loading" aria-busy="true" class="htmx-indicator">
        </div>
      </div>
    </section>
  </main>
  <footer>
    <em id="totalContainers"></em>
    <p>
      <em id="updatedOn"></em>
    </p>
  </footer>
  <script src="/js/main.js" defer></script>
</body>

</html>