<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Status Page</title>
  <script src="/js/htmx.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
  <style>
    .healthy {
      background-color: green;
      color: white;
    }

    .unhealthy {
      background-color: rgba(255, 0, 0, 0.5);
      color: white;
    }

    .starting {
      background-color: gray;
      color: white;
    }

    .unknown {
      background-color: blue;
      color: white;
    }

    .healthyTxt {
      color: green;
    }

    .unhealthyTxt {
      color: rgba(255, 0, 0, 0.5);
    }

    .startingTxt {
      color: gray;
    }

    .unknownTxt {
      color: blue;
    }
  </style>

</head>

<body class="container">
  <nav style="display: flex; align-items: center;">
    <ul>
      <li>
        <h1>
          MilinBhakta
        </h1>
      </li>
    </ul>
  </nav>
  <main id="app" hx-get="/containers" hx-trigger="load, every 5s" hx-indicator="#loading">
  </main>
</body>

</html>